[submodule "42-Fract-ol"]
	path = 42-Fract-ol
	url = git@github.com:Elnop/42-Fract-ol.git
[submodule "42-push_swap"]
	path = 42-push_swap
	url = git@github.com:Elnop/42-push_swap.git
[submodule "42-Piscine"]
	path = 42-Piscine
	url = git@github.com:Elnop/42-Piscine.git
[submodule "42-Pipex"]
	path = 42-Pipex
	url = git@github.com:Elnop/42-Pipex.git
